/* .calculator {
  display: grid;
  grid-template-columns: repeat(4);
  grid-gap: 5px;
  width: 220px;
  margin: auto;
}

.display {
  grid-column: 1 / -1;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: right;
  font-size: 18px;
}

input[type="text"] {
  width: 100%;
  border: none;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  text-align: right;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: #ddd;
  border: none;
  padding: 15px;
  font-size: 18px;
}

button:hover {
  background-color: #eee;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 15px;
}

button {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 10px;
  border-color: black;
  font-size: 1.5rem;
  padding: 20px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #eee;
}

button:active {
  background-color: #e0e0e0;
}
